<p id="notice"><%= notice %></p>

<h1>Listing Message Recipient Users</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Message</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @message_recipient_users.each do |message_recipient_user| %>
      <tr>
        <td><%= message_recipient_user.user %></td>
        <td><%= message_recipient_user.message %></td>
        <td><%= link_to 'Show', message_recipient_user %></td>
        <td><%= link_to 'Edit', edit_message_recipient_user_path(message_recipient_user) %></td>
        <td><%= link_to 'Destroy', message_recipient_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Message recipient user', new_message_recipient_user_path %>
