<p id="notice"><%= notice %></p>

<p>
  <strong>Channel:</strong>
  <%= @user_to_channel_subscription.channel %>
</p>

<p>
  <strong>User:</strong>
  <%= @user_to_channel_subscription.user %>
</p>

<%= link_to 'Edit', edit_user_to_channel_subscription_path(@user_to_channel_subscription) %> |
<%= link_to 'Back', user_to_channel_subscriptions_path %>
